.form {
    width: 100%;
    display: block;
    text-align: center;
}

h4 {
    font-size: 24px;
}

.errorMsg {
    position: relative;
    top: -25px;
}

.errorMsgBut {
    position: relative;
    top: 45px;
}